<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Lista de tareas</span>
                    <button class="btn  float-end btn-success" routerLink="/crear-producto">Nueva tarea</button>


                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Mis tareas</th>
                            <th scope="col">Completadas</th>
                            <th scope="col">Borrar</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Desayuno en familia</td>
                            <td><input type="checkbox" value="" ></td>
                            <td>
                                <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>Sacar la basura</td>
                            <td><input type="checkbox" value="" ></td>
                            <td>
                                <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>Reunión de trabajo</td>
                            <td><input type="checkbox" value="" ></td>
                            <td>
                                <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>Cita odontológica</td>
                            <td><input type="checkbox" value="" ></td>
                            <td>
                                <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <td>5</td>
                            <td>Almuerzo con amigos</td>
                            <td><input type="checkbox" value="" ></td>
                            <td>
                                <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <td>6</td>
                            <td>Pasear la mascota</td>
                            <td><input type="checkbox" value="" ></td>
                            <td>
                                <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <td>7</td>
                            <td>Hacer ejercicio</td>
                            <td><input type="checkbox" value="" ></td>
                            <td>
                                <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
